# --- Logs & Debug ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- Node (Frontend) ---
node_modules
dist
dist-ssr
*.local

# --- Python (Backend) ---
# Environnement virtuel (CRUCIAL)
venv/
env/
ENV/
env.bak/
venv.bak/

# Fichiers compilés Python
__pycache__/
*.py[cod]
*$py.class

# --- Secrets & Configuration ---
# Ne JAMAIS pusher vos clés API ou mots de passe
.env.backup
.env.local
.env.development.local
.env.test.local
.env.production.local

# --- Editor & System ---
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?